name: autofix.ci
on:
  push:
  pull_request:
    branches: [master]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
      - run: |
          deno task format
          deno task lint:fix
      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
