name: Internal benchmark

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  internal-benchmark:
    if: github.repository == 'poolifier/poolifier-deno'
    runs-on:
      group: default
      labels: [self-hosted, internal-benchmark]
    env:
      BENCHER_PROJECT: poolifier-deno
      BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
      BENCHER_ADAPTER: js_benchmark
      BENCHER_TESTBED: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - uses: bencherdev/bencher@main
      - name: Run benchmark
        run: |
          bencher run \
          --if-branch "$GITHUB_REF_NAME" \
          --else-if-branch "$GITHUB_BASE_REF" \
          --else-if-branch master \
          --err \
          --github-actions ${{ secrets.GITHUB_TOKEN }} \
          "deno task benchmark:js"
