name: Release Please

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    if: github.repository == 'poolifier/poolifier-web-worker'

    permissions:
      contents: write
      pull-requests: write

    outputs:
      release_created: ${{ steps.release.outputs.release_created }}

    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}
          config-file: .github/release-please/config.json
          manifest-file: .github/release-please/manifest.json

  build-release:
    needs: release-please
    runs-on: ubuntu-latest
    if: needs.release-please.outputs.release_created

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Format Check
        run: deno task format:check

      - name: Lint
        run: deno task lint

      - name: Tests & Coverage
        run: deno task test:coverage

      - name: Bundle
        run: deno task bundle

  publish-jsr:
    needs: build-release
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Publish Release
        if: ${{ contains(github.ref_name, '-') == false }}
        run: deno publish

  publish-npm:
    needs: build-release
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Bundle
        run: deno task bundle

      - name: Publish Release
        if: ${{ contains(github.ref_name, '-') == false }}
        run: cd dist && npm publish

      - name: Publish Release Candidate
        if: ${{ contains(github.ref_name, '-rc') == true }}
        run: cd dist && npm publish --tag next

      - name: Publish Beta Release
        if: ${{ contains(github.ref_name, '-beta') == true }}
        run: cd dist && npm publish --tag beta

      - name: Publish Alpha Release
        if: ${{ contains(github.ref_name, '-alpha') == true }}
        run: cd dist && npm publish --tag alpha
